.footer-container {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--BG_NAV);
    line-height: 36px;
}